name: Update TV Sources

on:
  schedule:
    - cron: '0 22 * * *' # 北京时间每天早上 6 点运行
  workflow_dispatch:      # 允许手动点击按钮运行

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests base58

      - name: Run update script
        run: python update_deco.py

      - name: Commit and Push changes
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add tv.json deco_b58.txt
          git commit -m "Auto-update TV sources and Base58 config" || echo "No changes to commit"
          git push
